<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Employee-survey</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-card *ngFor="let item of surveyList " [routerLink]="['/survey-detail/', item.survey_id]" >
      <ion-item >
        <h3>{{item.name}}</h3>
      </ion-item>
  </ion-card> -->

  <ion-card *ngIf="surveyDetail.comp_id">
    <ion-item >
      <h4>Company Name:</h4>&nbsp;&nbsp;&nbsp;
      <h5>{{surveyDetail.company.c_name}}</h5>
    </ion-item>

</ion-card>

<ion-list>
	
</ion-list>
<ion-list *ngIf="surveyDetail.comp_id">  
  <ion-card>
    <ion-item>
      <ion-label>
        <h1>Survey Tile</h1>
      </ion-label>
      <ion-label class="ion-text-right" >
        <h1>Action</h1>
      </ion-label>
    </ion-item>	
    <ion-item  *ngFor="let item of surveyDetail.company.surveys" >
      <ion-label>{{item.survey_title}}</ion-label>
      <ion-item>
        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright" routrLink="/survey-detail" (click)="clicked = 'star ' + i"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-card>
</ion-list>
</ion-content>
<!-- 
<button ion-button icon-left clear small>
    <ion-icon name="text"></ion-icon>
    <div>4 Comments</div>
  </button> -->
