<p>
  multi-choise works!
  <ion-label> <b>{{question.title}}</b></ion-label>
  <ion-item>
      <ion-label>Reading</ion-label>
      <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Dancing</ion-label>
        <ion-checkbox disabled="true" color="primary"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label>Playing</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
    </ion-item>
</p>
<!-- <ion-list>

    
  
   
  
    
  
  </ion-list> -->

