<ion-header>
  <ion-toolbar>
      
    <ion-title>client_selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <div class="ion-margin-top : 50px">
      <ion-button color="secondary" routerLink = "/c-login-register">Company</ion-button>
      <ion-button color="secondary" routerLink = "/e-login-register">Employee</ion-button>
    </div>
  </div>	
  <div class="ion-text-center">
      <ion-text color="secondary">
        <h3>Use the application as your designation. Good Luck</h3>
      </ion-text>
  </div>

</ion-content>
