.table
{
    margin: auto;
    //background-color:darkgrey;
    background-color: lemonchiffon;
    height: 50%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.th
{
    text-align: left;
    color: blue;
    
}
.td
{
    text-align: center;
    color: brown;
    font-style: bold;
}

// .myTable
// {
//     margin: auto;
//     //background-color:darkgrey;
//     background-color: lemonchiffon;
//     height: 50%;
//     width: 100%;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 20px;
// }
// .myTable th
// {
//     text-align: left;
//     background-color: goldenrod;
//     color: white; 
//     padding: 10px;
//     border: 1px solid goldenrod; 
    
// }
// .myTable td
// {
//     text-align: center;
//     color: brown;
//     font-style: bold;
// }

