<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu type="overlay" *ngIf="enable">
      <ion-header>
        <ion-toolbar>
          <ion-title>Employee Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of getmenu()">
            <ion-item [routerDirection]="'root'" [routerLink]="p.url">
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item> 
            </ion-menu-toggle> 

            <ion-menu-toggle>
              <ion-item (click)="logout()">
                <ion-label>
                  Logout
                </ion-label>
              </ion-item> 
              </ion-menu-toggle> 
          
         

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
