<ion-header>
  <ion-toolbar>
    <ion-title>company_registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

		<form  #form="ngForm" method="POST">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="d_name" type="text" placeholder="Comapany Name" [(ngModel)]="c_name" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Company Password" [(ngModel)]="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input  name="address" type="text" placeholder="Comapany Address" [(ngModel)] = "address" required></ion-input>
            </ion-item>
	         <ion-item>
              <ion-input  name="phone_no" type="text" placeholder="Comapny Mobile Number" [(ngModel)] = "phone_no" required></ion-input>
            </ion-item>
		        <ion-item>
		           <ion-label>No Of Employees</ion-label>
		            <ion-select name = "no_of_emp" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)] = "no_of_emp" >
		            <ion-select-option *ngFor = "let item of employeeSizes" [value]="item.id">{{item.size}}</ion-select-option>
		            </ion-select>
            </ion-item>
      
          </div>
          <div padding>

            <ion-button  size="large" type="submit" expand="block" (click)="doRegister()" routerLink = "/company-deshboard">Register</ion-button>
            <ion-button  size="large" type="submit" expand="block" routerLink = "/company-login">Already Register !! Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
