<p>
  <ion-list>
      <ion-list-header></ion-list-header>
    
      <!-- <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item> -->
    
      <ion-item>
        <ion-label><b>{{question.title}}</b></ion-label>
        <ion-select [(ngModel)]="question.answer"  okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let item of question.option" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>

</p>

