<p>
  choise-select works!
  
  <ion-list>
      <ion-list-header></ion-list-header>
    
      <!-- <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item> -->
    
      <ion-item>
        <ion-label><b>{{question.title}}</b></ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-list>

</p>

