<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- survey_detail -->
      {{surveyDetail.survey_title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="this.surveyDetail.questions">

  <!-- <p>Hellooowwww this is survey_detail page</p> -->

  <div *ngIf="currentQuestion.q_type == 'open ended'">
      <app-open-ended [question]="currentQuestion"></app-open-ended>
  </div>
  <div *ngIf="currentQuestion.q_type == 'multiline_open_ended'">
      <app-open-ended-multiline [question]="currentQuestion">
        
      </app-open-ended-multiline>
  </div>
  <div *ngIf="currentQuestion.q_type == 'checkbox'">
      <app-multi-choise [question]="currentQuestion"></app-multi-choise>

  </div>
    <div *ngIf="currentQuestion.q_type == 'selection'">
        <app-choise-select [question]="currentQuestion"></app-choise-select>
    </div> 

    <div>
        <ion-button name="pre" color="primary" (click)="changePage(-1)" >Previous</ion-button>
        <ion-button name="nxt" color="primary" *ngIf="currentQuestionNumber != this.surveyDetail.questions.length -1 " (click)="changePage(1)">Next</ion-button>
        <ion-button name="nxt" color="primary" *ngIf="currentQuestionNumber == this.surveyDetail.questions.length -1 " (click)="finish()">Submit</ion-button>
    </div>
    <div>
       <ion-button type="submit" expand="full" color="danger" routerLink="/employee-detail">Back to Home</ion-button>
    </div> 

    <!-- <ion-card *ngIf="surveyDetail.survey_title">
      <ion-item>
        <h4>Company Name:</h4>&nbsp;&nbsp;&nbsp;
        <h5>{{surveyDetail.survey_title}}</h5>
      </ion-item>
  </ion-card> -->
</ion-content>