<ion-header>
  <ion-toolbar>
    <ion-title>e_login_register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center">
        <div class="ion-margin-top : 50px">
          <ion-button color="secondary" routerLink = "/employee-login">Login</ion-button>
          <ion-button color="secondary" routerLink = "/employee-registration">Register</ion-button>
        </div>
      </div>	
      <div class="ion-text-center">
          <ion-text color="secondary">
            <h3>Use the application as your designation. Good Luck</h3>
          </ion-text>
      </div>
      <div class="ion-text-center">
          <ion-button color="secondary" routerLink = "/client-selection">Back</ion-button>
      </div>

</ion-content>
